#about {
	width:1000px; height: 500px; border:solid; border-width:3px
}

#administration {
	width:1000px; height:800px; border:solid; border-width:3px
}

#rentals {
	height:250px; width:900px; overflow:auto;
}

#users {
	height:250px; width:350px; overflow:auto;
}

#books {
	width:1000px; height: 500px; border:solid; border-width:3px
}

#menu {
	font-size:1.5em;
}

#myRentals {
	width:1000px; height: 500px; border:solid; border-width:3px
}

#profile {
	width:1000px; height: 500px; border:solid; border-width:3px
}

#uploadBook{
	width:1000px; height: 500px; border:solid; border-width:3px
}

#loggedInAs {
	padding:10px 10px 10px 10px; float:right;
}

#menuForm\:logoutLink {
	padding: 10px 10px 10px 10px; float:right;
}

#menuForm\:mainMenu {
	padding: 10px 10px 10px 10px;
}

#menuForm\:findBooks {
	padding: 10px 10px 10px 10px;
}

#menuForm\:myRentals {
	padding: 10px 10px 10px 10px;
}

#menuForm\:administration {
	padding: 10px 10px 10px 10px;
}

#menuForm\:profile {
	padding: 10px 10px 10px 10px;
}

#menuForm\:about {
	padding: 10px 10px 10px 10px;
}

